<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin_home.css}">
</head>
<body>
<div class="header">
    <h2>Admin Home</h2>
    <div class="header-actions">
        <a href="/admin/departments/register" class="create-button">Create New Department</a>
        <a href="/admin/positions/register" class="create-button">Create New Position</a>
        <a href="/admin/users/register" class="create-button">Create New Employee</a>
        <button class="Btn" onclick="window.location.href='/logout'">

            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

            <div class="text">Logout</div>
        </button>
    </div>
</div>
<div class="employee-container">
    <h2>Employee List</h2>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Hire Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstname}" th-text="First Name"></td>
            <td th:text="${employee.lastname}" th-text="Last Name"></td>
            <td th:text="${employee.email}" th-text="Email"></td>
            <td th:text="${employee.phoneNumber}" th-text="Phone Number"></td>
            <td th:text="${employee.hireDate}" th-text="Hire Date"></td>
            <td class="actions">
                <form th:action="@{'/admin/users/update/' + ${employee.user != null ? employee.user.userId : 0}}" method="get">
                    <button type="submit" th:disabled="${employee.user == null}">Update</button>
                </form>
                <button type="button" class="delete-button"
                        th:if="${employee.user != null}"
                        th:attr="onclick='deleteUser(' + ${employee.user.userId} + ', \'' + ${employee.firstname} + ' ' + ${employee.lastname} + '\')'">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="second-btn">
        <button class="button2" onclick="window.location.href='/admin/employees/coworkers'"> Coworkers</button>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-message"></p>
    </div>
</div>
<script th:src="@{/js/admin_home.js}"></script>
</body>
</html>
