<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Coworkers List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin_employee_coworkers_list.css}">
</head>
<body>
<button class="custom-button" onclick="window.location.href='/admin/home'">
    <div class="button-content">
        <svg
                width="25px"
                height="25px"
                viewBox="0 0 1024 1024"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path
                    fill="#000000"
                    d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
            ></path>
            <path
                    fill="#000000"
                    d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
            ></path>
        </svg>
    </div>
    <p class="button-text">Go Back</p>
</button>
<div class="employee-container">
    <h2>Coworkers List</h2>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Position</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${colleagues}">
            <td th:text="${employee.firstname}"></td>
            <td th:text="${employee.lastname}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.department.getDepartmentName()}"></td>
            <td th:text="${employee.position.getPositionName()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>